// File: inicio.page.scss
ion-toolbar {
    --background: #54a7ff; /* Color de fondo */
    --color: #ffffff; /* Color del texto */
  }
  
  ion-title {
    font-size: 20px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
  }
  
  
  ion-content {
    --background: #c6e1f7; /* Color de fondo */
    --padding-top: 20px; /* Padding superior */
    --padding-bottom: 20px; /* Padding inferior */
  }
  
  
  ion-list {
    background-color: #ffffff; /* Color de fondo del elemento */
    padding: 16px; /* Agrega un padding a la lista */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para la lista */
    margin: 0 16px; /* Márgenes para que no toque los bordes del contenedor */
  }
  
  ion-searchbar {
    --background: #ffffff; /* Fondo blanco para la barra de búsqueda */
    --color: #000000; /* Color del texto */
    --placeholder-color: #888888; /* Color del placeholder */
    --placeholder-font-style: italic; /* Estilo del texto del placeholder */
    --icon-color: #007bff; /* Color del icono de búsqueda */
  
    padding: 0px; /* Padding horizontal para el contenedor */
    margin-bottom: 20px; /* Margen inferior para separar de la lista */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para los items */
  
  }
  
  ion-item {
    --background: #ffffff; /* Color de fondo blanco para cada item */
    margin-bottom: 10px; /* Margen inferior entre elementos */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para los items */
  }
  
  ion-item ion-label {
    font-weight: bold; /* Texto en negrita */
  }
  
  ion-item ion-label h2 {
    margin-bottom: 5px; /* Margen inferior para el título */
    color: #000000;
  }
  
  ion-item ion-label p {
    font-size: 14px; /* Tamaño de fuente para el texto secundario */
    color: #888888; /* Color de texto secundario */
  }
  